body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 2.5rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container {
  background-color: #888;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  border-radius: 5px;
}

div.scrollable {
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  overflow: auto;
  height: 600px;
}

.left-column {
  margin-bottom: 2rem;
  background-color: rgb(204, 200, 200);
  max-width: 200px;
}

.right-column .container {
  margin-right: 2rem;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin: 0.5rem;
  cursor: move;
  max-width: 150px;
}

.draggable.dragging {
  opacity: 0.5;
}

.level-4 {
  background-color: #fcf4ab;
}

.level-5 {
  background-color: #aef5e5;
}

.level-6 {
  background-color: #ffdeca;
}

#all_modules {
  /*  */
}

#credit-modules {
  background-color: #756bfb;
}

#attempt-modules {
  background-color: #8c85f5;
}

#planning-modules {
  background-color: #b5b0f8;
}

.btn {
  text-align: center;
  padding-top: 1.5rem;
}

button {
  font-size: 20px;
  padding: 5px;
}

#suggestion-message {
  background-color: #d9d7f9;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 5px;
  min-height: 50px;
  max-width: 1000px;
}
