{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="student_id">Student ID (9 digits)</label>
    <input
      type="student_id"
      class="form-control"
      id="student_id"
      name="student_id"
      placeholder="Enter 9 digits student ID"
    />
  </div>
  <div class="form-group">
    <label for="portal_id">Student Portal ID</label>
    <input
      type="portal_id"
      class="form-control"
      id="portal_id"
      name="portal_id"
      placeholder="Enter 2 letters + 2-3 digits"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
